@mixin transform($x) {
  -webkit-transform: $x;
	-moz-transform: $x;
	-ms-transform: $x;
	-o-transform: $x;
	transform: $x;
}

@mixin transition($x) {
  -webkit-transition: $x;
	-moz-transition: $x;
	-ms-transition: $x;
	-o-transition: $x;
	transition: $x;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin input-placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

$main-color: #e394b2;

* {
  box-sizing: border-box !important;
}

a, a:hover, a:visited, a:focus {
  color: #222;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

.material-icons{
	position: relative;
	top: -2px;
	vertical-align: middle;
}

ul.unstyle {
  margin: 0;
  padding: 0;
  list-style: none;

	> li {
	  list-style: none;
	}
}

ul.inline {
	@extend ul.unstyle;
	display: block;

	> li {
	  position: relative;
	  display: inline-block;
	  padding: 5px 10px;
	}
}

ul.flex, #main-nav ul {
  @extend ul.unstyle;
	display: flex;
  text-align: center;

  > li {
    flex: 1 1 0;
  }
}

a.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  border: solid 1px #e2e2e2;
  color: #636363;
  @include transition(all 0.3s linear);

  &:hover {
    border-color: $main-color;
    color: $main-color;
  }
}

.center2D {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	-ms-transform: translate(-50%, -50%);
}

.container-wrapper {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

/*-------------Text, Font--------------*/
.font-sm {
    font-size: 80%;
}
.font-bold {
    font-weight: bold;
}
.font-30 {
    font-size: 30px !important;
}
.font-24 {
    font-size: 24px !important;
}
.font-20 {
    font-size: 20px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-12 {
    font-size: 12px !important;
}
.underline {
	text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;;
}
.line-through {
    text-decoration: line-through;
}
.no-wrap{
  white-space: nowrap;
}
.pre-line{
  white-space: pre-line;;
}
.text-justify {
	text-align: justify;
}
.text-ellipsis {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*-------------margin, padding--------------*/
.m-20 {
	margin: 20px !important;
}
.m-15 {
	margin: 15px !important;
}
.m-10 {
	margin: 10px !important;
}
.m-5 {
	margin: 5px !important;
}
.m-0 {
	margin: 0px !important;
}
.m-t-80 {
	margin-top: 80px !important;
}
.m-t-60 {
	margin-top: 60px !important;
}
.m-t-40 {
	margin-top: 40px !important;
}
.m-t-30 {
	margin-top: 30px !important;
}
.m-t-20 {
	margin-top: 20px !important;
}
.m-t-15 {
	margin-top: 15px !important;
}
.m-t-10 {
	margin-top: 10px !important;
}
.m-t-5 {
	margin-top: 5px !important;
}
.m-t-0 {
	margin-top: 0px !important;
}
.m-t-1 {
	margin-top: 1px !important;
}
.m-b-40 {
	margin-bottom: 40px !important;
}
.m-b-20 {
	margin-bottom: 20px !important;
}
.m-b-15 {
	margin-bottom: 15px !important;
}
.m-b-10 {
	margin-bottom: 10px !important;
}
.m-b-5 {
	margin-bottom: 5px !important;
}
.m-b-0 {
	margin-bottom: 0px !important;
}
.m-l-20 {
	margin-left: 20px !important;
}
.m-l-15 {
	margin-left: 15px !important;
}
.m-l-10 {
	margin-left: 10px !important;
}
.m-l-5 {
	margin-left: 5px !important;
}
.m-r-20 {
	margin-right: 20px !important;
}
.m-r-15 {
	margin-right: 15px !important;
}
.m-r-10 {
	margin-right: 10px !important;
}
.m-r-7 {
	margin-right: 7px !important;
}
.m-r-5 {
	margin-right: 5px !important;
}
.m-r-0 {
	margin-right: 0px !important;
}
.p-40{
	padding: 40px;
}
.p-20 {
	padding: 20px;
}
.p-10 {
	padding: 10px !important;
}
.p-0, .p-0 .cell {
	padding: 0 !important;
}
.p-t-40{
	padding-top: 40px !important;
}
.p-t-20{
	padding-top: 20px !important;
}
.p-t-15{
	padding-top: 15px !important;
}
.p-t-10{
	padding-top: 10px !important;
}
.p-t-7{
	padding-top: 7px !important;
}
.p-t-5{
	padding-top: 5px !important;
}
.p-t-3{
	padding-top: 3px !important;
}
.p-t-1{
	padding-top: 1px !important;
}
.p-b-40{
	padding-bottom: 40px !important;
}
.p-b-20{
	padding-bottom: 20px !important;
}
.p-b-15{
	padding-bottom: 15px !important;
}
.p-b-10{
	padding-bottom: 10px !important;
}
.p-b-5{
	padding-bottom: 5px !important;
}
.p-l-100{
	padding-left: 100px !important;
}
.p-l-80{
	padding-left: 80px !important;
}
.p-l-40{
	padding-left: 40px !important;
}
.p-l-20{
	padding-left: 20px !important;
}
.p-l-15{
	padding-left: 15px !important;
}
.p-l-10{
	padding-left: 10px !important;
}
.p-l-9{
	padding-left: 9px !important;
}
.p-l-5{
	padding-left: 5px !important;
}
.p-l-3{
	padding-left: 3px !important;
}
.p-l-0{
	padding-left: 0px !important;
}
.p-r-20{
	padding-right: 20px !important;
}
.p-r-15{
	padding-right: 15px !important;
}
.p-r-10{
	padding-right: 10px !important;
}
.p-r-5{
	padding-right: 5px !important;
}
.p-r-3{
	padding-right: 3px !important;
}
.p-r-0{
	padding-right: 0px !important;
}

/*-------------Border--------------*/
.has-border {
	border: solid 1px #eee;
}

.has-border-top {
	border-top: solid 1px #eee;
}

.has-border-bottom {
	border-bottom: solid 1px #eee;
}

.border-none {
	border: none !important;
}


/*-------------Align--------------*/
.center2D {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	-ms-transform: translate(-50%, -50%);
}
.center2D-left {
	position: absolute;
	top: 50%;
	left: 0;
	@include transform(translate(0, -50%));
	-ms-transform: translate(0, -50%);
}
.center2D-right {
	position: absolute;
	top: 50%;
	right: 0;
	@include transform(translate(0, -50%));
	-ms-transform: translate(0, -50%);
}
.vertical-middle * {
    vertical-align: middle;
}
.vertical-bottom * {
    vertical-align: bottom;
}
.vertical-top {
	vertical-align: top;
	* {
	    vertical-align: top;
	}
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.no-float {
    float: none !important;
}
.full-width {
    width: 100% !important;
}
.clear {
    clear: both;
}

/*-------------Display--------------*/
.relative {
    position: relative !important;
}
.position-fixed {
    position: fixed !important;
}
.hidden {
    display: none;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block !important;
}
.overflow-hidden {
  overflow: hidden !important;
}

/*--------------------------------*/

body {
  letter-spacing: 0.05em;
  // font-family: 'Taviraj', serif;
  font-family: 'Pridi', serif;
  font-size: 16px;
	background-color: #fff;
  color: #636363;
  overflow-x: hidden;
}

#btn-main-nav {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 7px 15px;
  border: solid 1px #ccc;
  border-radius: 5px;
  z-index: 2;
}

#main-nav {
  ul {
    li {
      position: relative;

      a {
        position: relative;
        display: block;
        padding: 15px 0;
      }

      ul {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        border: solid 1px white;
        border-top: solid 2px $main-color;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #f8f8f8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: left;
        z-index: 10;

        li {
          a {
            display: block;
            padding: 15px;
            border-bottom: solid 1px white;
            color: black;

            &:hover {
              background-color: #eee;
            }

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }

      &.opened {
        a {
          color: $main-color;
        }

        ul {
          display: block;

          li {
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}

#content {
  .featured-slide {
    ul {
      li.slick-slide {
        position: relative;
        width: 800px;
        height: auto;
        padding: 0 10px;

        .slide {
          position: relative;
          display: block;
          width: 100%;
          padding-bottom: 50%;
          border-radius: 6px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          text-align: center;
          overflow: hidden;

          @media screen and (max-width: 570px) {
            padding-bottom: 65%;
          }

          .wrap {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.2);
            @include transition(all 0.3s linear);

            * {
              color: white;
              @include transition(all 0.3s linear);
            }

            .tags {
              margin-top: 7%;

              a {
                &:hover {
                  color: $main-color;
                }
              }
            }

            h2 {
              width: 80%;
              max-height: 70px;
              margin: 3% auto 3%;
              overflow: hidden;
              text-overflow: ellipsis;

              @media screen and (max-width: 570px) {
                width: 94%;
                font-size: 18px;
                max-height: 50px;
              }
            }

            .btn-read-more {
              display: block;
              width: 160px;
              padding: 10px 20px;
              margin: 5% auto 0;
              border: solid 2px white;
              color: white;

              &:hover {
                color: #222;
                background-color: white;

                i {
                  color: #222;
                }
              }
            }
          }
        }

        &.slick-current {
          .slide {
            .wrap {
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }

  ul.article-list {
    li {
      padding: 10px 0;
      border-bottom: solid 1px #eee;

      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
        padding: 10px;

        h5 {
          @include transition(color 0.3s linear);
        }

        .desc {
          max-height: 100px;
          margin-bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #636363;
        }

        .datetime {
          color: $main-color;
        }

        &:hover {
          background-color: #f8f8f8;

          h5 {
            color: $main-color;
          }
        }
      }
    }
  }

  .widget {
    margin-bottom: 50px;

    h2 {
      margin: 0 0 10px 0;
      border-bottom: solid 1px #eee;
      text-align: center;
      font-size: 20px;

      span {
        display: inline-block;
        margin-bottom: -1px;
        padding-bottom: 10px;
        border-bottom: solid 1px $main-color;
      }
    }

    &.recent-posts {
      ul {
        li {
          padding: 10px 0;
          border-bottom: solid 1px #eee;

          &:last-child {
            border-bottom: none;
          }

          a {
            display: block;
            padding: 10px;

            h5 {
              @include transition(color 0.3s linear);
            }

            .desc {
              max-height: 44px;
              margin-bottom: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #636363;
            }

            .datetime {
              color: $main-color;
            }

            &:hover {
              background-color: #f8f8f8;

              h5 {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }

  ul.pagination {
    display: inline-block;
    white-space: nowrap;

    li {
      display: inline-block;

      .page-link {
        &:hover {
          color: $main-color;
        }

        &.prev, &.next {
          border: none;
          color: #636363;

          &:hover {
            background: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #btn-main-nav {
    display: block;
  }
  #main-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;

    ul {
      display: block;

      li {
        flex: none;
        padding: 0 15px;
        text-align: left;

        > a {
          i {
            position: absolute;
            top: 15px;
            right: 0;
          }
        }

        ul {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }

    &.opened {
      display: block;
    }
  }
}
